* {
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: 15vw 1fr 1fr 1fr 15vw;
	grid-template-areas: 
	". logo nav nav ."
	". h h . ."
	". p p . ."
	". h1 h1 . ."
	". p1 p1 . ."
	". playercount playercount . .";
	max-height: 100vh;
}

/* Header */
.logo {
	position: relative;
	grid-area: logo;
	margin-top: 70px;
	left: 0;
	align-self: center;
}

.logo-img {
	position: relative;
	width: 120%;
	animation-name: logo-animation;
	animation-duration: 1.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
}

@keyframes logo-animation {
	from {top: -50px; opacity: 0;}
	to {top: 0px; opacity: 1;}
}

.nav {
	position: relative;
	grid-area: nav;
	justify-self: end;
	margin-top: 70px;
	animation-name: nav-animation;
	animation-duration: 1.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
}

@keyframes nav-animation {
	from {top: -50px; opacity: 0;}
	to {top: 0px; opacity: 1;}
}

a {
	cursor: default;
	pointer-events: none;
}

.btn {
	position: relative;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	background: none;
	border: none;
	padding: .6vw 1.5vw;
	cursor: pointer;
	transition: background-color 0.4s;
	text-transform: uppercase;
	font-family: 'Source Code Pro', monospace;
	font-size: .7vw;
	margin: 10px;
	pointer-events: all;
}

/* Main Content */
h {
	position: relative;
	grid-area: h;
	margin-top: 200px;
	text-align: left;
	opacity: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 2.2vw;
	font-weight: bold;
	color: white;
	animation-name: h-animation;
	animation-duration: 1.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes h-animation {
	from {left: 60px; opacity: 0;}
	to {left: 0px; opacity: 1;}
}

p {
	position: relative;
	grid-area: p;
	text-align: left;
	opacity: 0;
	padding-bottom: 25px;
	font-family: 'Work Sans', sans-serif;
	font-size: 1vw;
	font-weight: 300;
	color: #e5e5e5;
	animation-name: p-animation;
	animation-duration: 1.5s;
	animation-delay: .5s;
	animation-fill-mode: both;
}

@keyframes p-animation {
	from {left: 100px; opacity: 0;}
	to {left: 0px; opacity: 1;}
}

h1 {
	position: relative;
	text-align: left;
	grid-area: h1;
	opacity: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5vw;
	font-weight: 500;
	color: white;
	animation-name: h1-animation;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
}

@keyframes h1-animation {
	from {left: 100px; opacity: 0;}
	to {left: 0px; opacity: 1;}
}

p1 {
	position: relative;
	text-align: left;
	grid-area: p1;
	opacity: 0;
	padding-bottom: 25px;
	font-family: 'Work Sans', sans-serif;
	font-size: 1vw;
	font-weight: 300;
	color: #e5e5e5;
	animation-name: p1-animation;
	animation-duration: 1.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

@keyframes p1-animation {
	from {left: 100px; opacity: 0;}
	to {left: 0px; opacity: 1;}
}

.playercount {
	position: relative;
	grid-area: playercount;
	opacity: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 1.5vw;
	color: white;
	animation-name: playercount-animation;
	animation-duration: 1.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
}

@keyframes playercount-animation {
	from {left: 100px; opacity: 0;}
	to {left: 0px; opacity: 1;}
}



/* Media Queries */

@media only screen and (max-width: 960px) {

}

/* Button Animations */
button::before, button::after{
	content:"";
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: #fff;
  }
  
  span::before, span::after{
	content:"";
	width:2px;
	height:0;
	position: absolute;
	transition: all 0.2s linear;
	background: #fff;
  }
  button:hover::before, button:hover::after{
	width: 100%;
  }
  button:hover span::before, button:hover span::after{
	height: 100%;
  }
  
  .btn::before, .btn::after{
	transition-delay: 0s;
  }
  .btn span::before, .btn span::after{
	transition-delay: 0.2s;
  }
  .btn::before{
	right: 0;
	top: 0;
  }
  .btn::after{
	left: 0;
	bottom: 0;
  }
  .btn span::before{
	left: 0;
	top: 0;
  }
  .btn span::after{
	right: 0;
	bottom: 0;
  }
  .btn:hover::before, .btn:hover::after{
	transition-delay: 0.2s;
  }
  .btn:hover span::before, .btn:hover span::after{
	transition-delay: 0s;
  }
