*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.p-canvas-webgl {
	position: fixed;
	z-index: -1;
	top: 0; left: 0;
  }

.page {
	background-color: white;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: +100;
	pointer-events: none;
}

header {
	min-height: 100%;
	background: linear-gradient(rgba(0, 0, 20, 0.25), rgba(0, 0, 20, 0.4) 70%);
	background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden	
}

.grid {
	display: grid;
	grid-template-columns: 15vw 1fr 1fr 1fr 15vw;
	grid-template-areas: 
	". logo nav nav ."
	". h h . ."
	". p p . ."
	". h1 h1 . ."
	". p1 p1 . ."
	". playercount playercount . .";
	max-height: 100vh;
}

/* Header */

/* Main Content */

/* Animations */
@keyframes page-in {
	from {opacity: 1;}
	to {opacity: 0;}
}
/* Page Load */ 
.page-in {
	width: 100vw;
	height: 100vh;
	background-color: white;
	position: absolute;
	animation-name: page-in;
	animation-duration: 2s;
	animation-delay: 0s;
	animation-fill-mode: both;
}
  
.transition { 
	transition: all 1s;
	opacity: 0;
	position: absolute;
}