/* Home */
header {
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55) 70%);
	background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-column-gap: 100px;
  padding: 10px;
  padding-top: 200px;
}

.grid-container>div {
  item-align: center;
  padding: 20px 0;
}

.playercount {
	display: inline-block;
	background: rgba(0,0,0,0.4);
	padding: 3px;
	font-size: 1em;
	width: 100%;
	color: white;
	text-align: center;
}

.playercount span {
	color: cyan;
}

/* Main Content */

.img {
	transition: all 0.4s ease;
	padding-bottom: 10px;
}

.img:hover {
	transform: scale(1.05);
}

.logo {
	width: 70%;
}

.discord {
	width: 100%;
}

.store {
	width: 100%;
}

.staff {
	width: 100%;
}

.about-text {
	padding-bottom: 15px;
}

.vote {
	flex-basis: 150px;
	position: relative;
	text-align: center;
	padding: 5px;
	margin: 10px;
}

.vote-btn {
	background-color: rgb(255,255,255);
	border: 2px solid #595a5b;
	padding: 20px 40px;
	outline: none;
	cursor: pointer;
	transition-duration: 0.4s;
	text-transform: uppercase;
}

.vote-btn:hover {
	background-color: #595a5b;
	color: white;
}

.vote-container {
	display: flex;
	flex-wrap: wrap;
	margin: 25px auto 0 auto;
	max-width: 1100px;
	justify-content: space-around;
	border-top: 1px solid;
}

.vote-section {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
}

.vote {
	flex-basis: 250px;
	position: relative;
	text-align: center;
	padding: 5px;
	margin: 10px;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
	
}