*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.p-canvas-webgl {
	position: fixed;
	z-index: -1;
	top: 0; left: 0;
}

.grid {
    display: grid;
    background-color: #1F1F1F;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". . ."
    ". game ."
    ". . .";
    width: 100vw;
    height: 100vh;
}

.game {
    grid-area: game;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border-width: 2px;
}

.square {
    display: grid;
    border-style: solid;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    font-size: 5vw;
}

#S0,
#S1,
#S2 {
    border-top-style: none;
}

#S0,
#S3,
#S6 {
    border-left-style: none;
}

#S2,
#S5,
#S8 {
    border-right-style: none;
}

#S6,
#S7,
#S8 {
    border-bottom-style: none;
}

@media only screen and (max-width: 960px) {
    .square {
        font-size: 9vw;
    }
}

@media only screen and (max-width: 480px) {
    .square {
        font-size: 20vw;
    }
}