/* Scale */

/* Nav */
.header {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid #ffffff;
	box-sizing: border-box;
}

.nav {
	display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
	height: 60px;
}

.logo {
	transition-duration: 0.4s;
	padding: 15px;
	width: 30%;
	float: left;
}

a {
	cursor: default;
	pointer-events: none;
}

.new-btn {
	float: right;
	position: relative;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	background: none;
	border: none;
	padding: .1vw 1vw;
	cursor: pointer;
	transition: background-color 0.4s;
	text-transform: uppercase;
	font-family: 'Source Code Pro', monospace;
	font-size: .7vw;
	margin: 15px;
	pointer-events: all;
}

/* Button Animations */
span{
  display: block;
  padding: 10px 20px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

.new-btn::before, .btn-2::after{
  transition-delay: 0s;
}
.new-btn span::before, .btn-2 span::after{
  transition-delay: 0.2s;
}
.new-btn::before{
  right: 0;
  top: 0;
}
.new-btn::after{
  left: 0;
  bottom: 0;
}
.new-btn span::before{
  left: 0;
  top: 0;
}
.new-btn span::after{
  right: 0;
  bottom: 0;
}
.new-btn:hover::before, .btn-2:hover::after{
  transition-delay: 0.2s;
}
.new-btn:hover span::before, .btn-2:hover span::after{
  transition-delay: 0s;
}

/* Staff */
.staff-team {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px auto 10px auto;
	width: 85vw;
}

.staff {
	padding: 40px 0;
}

.staff h2 {
	color: white;
	text-align: center;
	margin-top: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 2.5vw;
}

.staff h3 {
	color: white;
	text-align: center;
	margin-top: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 1vw;
}

.staff h4 {
	color: white;
	text-align: center;
	margin-top: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.3vw;
	font-weight: 100;
}

.staff-team > div {
	padding: 15px;
	margin-top: 2.2%;
	background-color: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
	width: 15%;
}

.staff-team img {
	width: 100%;
	margin-top: 20px;
}

.advisor,
.owner,
.secretary,
.head-builder,
.admin,
.helper {
	font-family: 'Work Sans', sans-serif;
	font-size: .8vw;
	padding: 1vw;
}

.owner {background-color: #FF5555;}
.secretary {background-color: #AA00AA;}
.advisor {background-color: #555555;}
.admin {background-color: #962222;}
.head-builder {background-color: #00AAAA;}
.helper {background-color: #5555FF;}

@media only screen and (max-width: 960px) {
	.logo {
		width: 50%;
	}

	.nav-btn {
	text-transform: uppercase;
	font-family: 'Source Code Pro', monospace;
	font-size: 1vw;
}

	.staff-team {
		margin: 25px auto 10px auto;
		width: 95vw;
	}

	.staff h4 {
		font-family: 'Work Sans', sans-serif;
		font-size: 1.3vw;
		font-weight: 200;
	}
	
	.advisor,
	.owner,
	.secretary,
	.head-builder,
	.admin,
	.helper {
		font-family: 'Work Sans', sans-serif;
		font-size: 1vw;
		padding: 1vw;
	}

	.staff h2 {
		font-family: 'Work Sans', sans-serif;
		font-size: 3vw;
	}

	.staff h3 {
		color: white;
		text-align: center;
		margin-top: 0;
		font-family: 'Work Sans', sans-serif;
		font-size: 1.5vw;
	}
}

@media only screen and (max-width: 850px) {
	.logo {
		width: 60%;
	}

	.nav-btn {
	text-transform: uppercase;
	font-family: 'Source Code Pro', monospace;
	font-size: 1.3vw;
}

	.staff {
	padding: 15px 0;
	}

	.staff-team {
		margin: 0px auto 10px auto;
		width: 95vw;
	}

	.staff h4 {
		font-family: 'Work Sans', sans-serif;
		font-size: 1.3vw;
		font-weight: 200;
	}
	
	.advisor,
	.owner,
	.secretary,
	.head-builder,
	.admin,
	.helper {
		font-family: 'Work Sans', sans-serif;
		font-size: 1vw;
		padding: 1vw;
	}

	.staff h2 {
		font-family: 'Work Sans', sans-serif;
		font-size: 3vw;
	}

	.staff h3 {
		color: white;
		text-align: center;
		margin-top: 0;
		font-family: 'Work Sans', sans-serif;
		font-size: 1.5vw;
	}
	.staff-team > div {
		padding: 15px;
		margin-top: 2.2%;
		background-color: rgba(0,0,0,0.4);
		color: white;
		text-align: center;
		width: 15%;
	}
}

@media only screen and (max-width: 500px) {
	.logo {
		width: 100%;
	}

	.nav-btn {
		text-transform: uppercase;
		font-family: 'Source Code Pro', monospace;
		font-size: 2.5vw;
	}

	.staff-team {
		margin: 25px auto 10px auto;
		width: 95vw;
	}

	.staff h4 {
		font-family: 'Work Sans', sans-serif;
		font-size: 2.7vw;
		font-weight: 300;
	}
	
	.advisor,
	.owner,
	.secretary,
	.head-builder,
	.admin,
	.helper {
		font-family: 'Work Sans', sans-serif;
		font-size: 2vw;
		padding: 1vw;
	}

	.staff h2 {
		font-family: 'Work Sans', sans-serif;
		font-size: 5vw;
	}

	.staff h3 {
		color: white;
		text-align: center;
		margin-top: 0;
		font-family: 'Work Sans', sans-serif;
		font-size: 2vw;
	}

	.staff-team > div {
		padding: 15px;
		margin-top: 2.2%;
		background-color: rgba(0,0,0,0.4);
		color: white;
		text-align: center;
		width: 30%;
	}
}