body {
	background-color: #161616;
}

h1 {
	color: #DB4105;
	font-size: 80px;
	font-family: Bungee Shade;
}

p1    {	
				color: #DB4105;
				font-size: 25px;
				font-family: "Chau Philomene One";
				padding: 40px;
				}

paragraph color: #DB4105;
paragraph font-size: 25px;
paragraph font-family: "Chau Philomene One";
paragraph padding: 40px;