body {
	background-color: #252525
}

#Logo {
	width: 150PX;
	height: 150px;
	display:block;
	position: relative;
 	left: -25px;
	top: -160px;
	fill: #DB4105;
	stroke: #DB4105;
	stroke-miterlimit: 5;
}
